.inputKeybind {
    width: 50px;
}

.ThreeDEmbed_Position_Inputs input {
    width: 30%;
}

.json-error-container::before {
    content: attr(data-error-line);
    display: block;
    padding: 7px;
    background-color: #fff0f0;
    border: 1px solid #ff4d4d;
    color: #b71c1c;
    font-family: var(--font-monospace);
    font-size: 0.95em;
    font-weight: 500;
    padding: 12px 14px;
    border-radius: 8px;
    white-space: pre-wrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.light-setting {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    background-color: var(--background-secondary);
}

.light-setting summary,
.position-group {
    margin-bottom: 5px;
}

.position-group {
    display: flex;
    gap: 5px;
}

.position-group input {
    width: 30%;
}

@media (max-width: 600px) {
    .position-group {
        flex-direction: column;
    }

    .position-group input {
        width: 100%;
    }
}

/*Settings For GUI*/
.ThreeD_embed_sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    background-color: var(--background-secondary);
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    grid-template-areas: "options" "footer";
}

.ThreeD_embed_sidebar_footer {
    height: auto;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-area: footer;
    row-gap: 3px;
}

.ThreeD_embed_sidebar_options {
    height: auto;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-area: options;
    justify-items: start;
    row-gap: 3px;
}

.ThreeD_embed_seperator {
    border: none;
    border-top: var(--background-primary);
    margin: 20px 0;
    width: 100%;
}

.ThreeD_embed_colorInput {
    justify-self: center;
    margin-bottom: 5px;
}

.ThreeD_embed_gridAxis,
.ThreeD_embed_radioButton {
    width: 100%;
}

.ThreeD_embed_gridAxis.active,
.ThreeD_embed_radioButton.active {
    background-color: green !important;
}

.radioParent {
    position: absolute !important;
    bottom: 10px;
    left: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}